{
  "parser": "babel-eslint",
  "rules": {
    "prettier/prettier": ["error", { "endOfLine": "auto" }],
    "indent": [1, 4, { "SwitchCase": 1, "ignoredNodes": ["TemplateLiteral"] }]
  },
  "env": {
    "browser": true,
    "node": true
  },
  "extends": ["polestar"],
  "plugins": ["prettier"],
  "globals": {
    "EXTERNAL_MODULES": false,
    "IS_GLOBAL": false
  }
}
